/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/grocy-kiosk-control.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sshConfigs.xml
/.idea/vcs.xml
/.idea/webServers.xml
